<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>
<body>
<div class = "container">
<header class = "feedHeader">
    <form action="/logout" method="POST">
      <input type="image" src = "assets/btn_logout.svg" id="logoutBtn">
    </form>
</header>
    <div id="result"></div>
    <div class="feed">
      {{#each feed}}
      <div class = "feedItem">
        <div class="userEmail">
        <a href="/users/{{username}}">
          {{email}}</a>
        </div>
        <div class="feedMessage">
         {{feed_message}}
       </div>
     </div>
     {{/each}}
   </div > 
   <button class="btnCompose" onclick="openModal()"> </button>
   <div class="modalBackground">
    <form action="/feed" method="POST">
      <textarea class="modalTextArea" type="text" id="newFeedPost" placeholder="What do you want to say?" name="feed_message"></textarea>
      <button id="newPostSubmit" type="submit" onclick="addPost()">Post</button>
    </form>
  </div>
</div>
</body>
<script type="text/javascript">
  var modalBackground = $('.modalBackground');
  function openModal() {
    modalBackground.addClass('show');
  }

  function closeModal(e) {
    if(e.target === modalBackground[0]) {
      modalBackground.removeClass('show');
    }
  }

  modalBackground.on('click', closeModal);

  function profileLink() {   
    var profileForms = $('.profileForm');
    profileForms.submit();      
  }

  function addPost() {
    var newPost = $('#newFeedPost').val();
    var request = $.ajax({
      url: "/feed",
      type: "post",
      data: {
        feed_message: newPost,
        user: currentUser
      }
    });
    request.done(function (response, textStatus, jqXHR){
      console.log("completed "+ response);
    });
    request.fail(function (){
     console.log('err');
   });
  }
</script>
</html>