<!DOCTYPE html>
<head>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
login
<form action='/authenticate' method="POST">
  Email:<br>
  <input type="text" id="email" name="email"><br>
  Password:<br>
  <input type="text" id="password" name="password"><br>
  <input id="loginSubmit" type="submit" value="Submit">
</form>
</body>