<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>
<body>
  <div class = "containerLogin">
    <h1>Triangle</h1>
    <h2>Chat with interesting people in your city.</h2>
    <form action='/authenticate' method="POST" id="loginForm">
    <div class = "login-input-container">
        <div class="login-fields">
          <input type="text" id="email" placeholder="Email" name="email">
          <hr class="loginfields-separator">
          <input type="password" id="password" placeholder="Password" name="password"><br>
          <div id="submitButton">
            <input id="loginSubmit" type="submit" value="SIGN IN">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="loginErr"> Invalid Email or Password</div>
</body>
<script>
  $(window).load(function() {
    $('.loginfields-separator').show();
  });
</script>
</html>