<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class = "container">
  <h1>Triangle</h1>
  <h2>Chat with interesting people in your city.</h2>
  <form action='/authenticate' method="POST">
    <div class = "login-input-container">
      Email:<br>
      <input type="text" id="email" name="email"><br>
      Password:<br>
      <input type="text" id="password" name="password"><br>
      <input id="loginSubmit" type="submit" value="Submit">
    </div>
  </form>
</div>
<script type="text/javascript">
  
</script>
</body>
</html>