<!DOCTYPE html>
<html>
<head>
  <link href="../style.css" rel="stylesheet">
  <meta charset ="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>
<body>
  <div class = "container profileContainer">
    <header class = "profileHeader">
      <form action= "/feed" method="GET">
        <input type="image" id="backButton" src="../assets/btn_back.svg" value="Back" onclick="goBack()">
      </form>
    </header>
    <div class= "profilePic">
      <img src = "../assets/img_user@2x.png">
    </div>
    <div class = "profileEmail">
      {{user.email}}
    </div>
    <div class = "profileDescription">
      {{user.description}}
    </div>
  </div>
</body>
<script>
  function goBack() {
    var request = $.ajax({
      url: "/feed",
      type: "GET"
    });
    request.done(function (response, textStatus, jqXHR){
      console.log("completed "+ response);
    });
    request.fail(function (){
      console.log('err');
    });
  }
</script>
</html>
