<!DOCTYPE html>
<head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<form action= "/logout" method="POST">
  <input type="submit" value="Logout">
profile
</form>
</body>